<OTA_PNRRequest>
    <FlightInfo>
        {% for flight in route.data.SS.S %}
        <FlightSegment {% if forloop.first %}{% else %}number="{{ forloop.counter }}"{% endif %}>
            <FromCity>{{ flight.FA }}</FromCity>
            <DestCity>{{ flight.TA }}</DestCity>
            <AirCo>{{ flight.A }}</AirCo>
            <FlightNumer>{{ flight.No }}</FlightNumer>
            <Class>{{ flight.ST }}</Class>
            <QueryDate>{% now "Y-m-d" %}</QueryDate>
            <FromDate>{{ flight.FD }}</FromDate>
            <FromTime>{{ flight.FT }}</FromTime>
            <DestDate>{{ flight.TD }}</DestDate>
            <DestTime>{{ flight.TT }}</DestTime>
        </FlightSegment>
        {% endfor %}
    </FlightInfo>
    <Passenger>
        {% for passenger in passengers %}
        <PassengerDetail >
            <SurName>{{ passenger.firstname }}/{{ passenger.secondname }}</SurName>
            <CerType></CerType>
            <CerCountry></CerCountry>
            <CerNo></CerNo>
            <Nationality></Nationality>
            <BirthDay></BirthDay>
            <Sex></Sex>
            <CerValidity></CerValidity>
            <PassengerType>ADT</PassengerType>
        </PassengerDetail>
        {% endfor %}
    </Passenger>
    <Fare>
        <TotalPrice>{{ route.data.PM }}</TotalPrice>
        <NetFare>{{ route.data.PM }}</NetFare>
        <AdtPrice>{{ route.data.PM }}</AdtPrice>
        <ChdPrice>{{ route.data.CM }}</ChdPrice>
        <FareNo>{{ route.limit_no }}</FareNo>
        <Tax></Tax>
        <TaxStr>PEKHKG2009-03-25,S,KA1101/KA;HKGPEK2009-03-28,S,KA992/KA</TaxStr>
    </Fare>
    <OP>
        <Operator>cmldy</Operator>
        <UserCMD></UserCMD >
        <AirCo>{{ route.data.ss.s.0.fs.0.A }}</AirCo>
        <PNRUser>abc;1234</PNRUser>
    </OP>
</OTA_PNRRequest>
