<OTA_PNRRequest>
<FlightInfo>
<FlightSegment >
<FromCity>PEK</FromCity>
<DestCity>HKG</DestCity>
<AirCo>KA</AirCo>
<FlightNumer>KA1101</FlightNumer>
<Class>S</Class>
<QueryDate>2009-03-25</QueryDate>
<FromDate>09-03-25</FromDate>
<FromTime>0800</FromTime>
<DestDate>09-03-25</DestDate>
<DestTime>1125</DestTime>
</FlightSegment>
<FlightSegment number="2">
<FromCity>HKG</FromCity>
<DestCity>PEK</DestCity>
<AirCo>KA</AirCo>
<FlightNumer>KA992 </FlightNumer>
<Class>S</Class>
<QueryDate>2009-03-28</QueryDate>
<FromDate>09-03-28</FromDate>
<FromTime>1340</FromTime>
<DestDate>09-03-28</DestDate>
<DestTime>1700</DestTime>
</FlightSegment>
</FlightInfo>
<Passenger>
<PassengerDetail >
<SurName>liu/lejiang</SurName>
<CerType>P</CerType>
<CerCountry></CerCountry>
<CerNo></CerNo>
<Nationality></Nationality>
<BirthDay>1975-04-19</BirthDay>
<Sex>M</Sex>
<CerValidity></CerValidity>
<PassengerType>ADT</PassengerType>
</PassengerDetail>
</Passenger>
<Fare>
<TotalPrice>1900</TotalPrice>
<NetFare>1900</NetFare>
<AdtPrice>1900</AdtPrice>
<ChdPrice>0</ChdPrice>
<FareNo>KAPEKI00064</FareNo>
<Tax></Tax>
<TaxStr>PEKHKG2009-03-25,S,KA1101/KA;HKGPEK2009-03-28,S,KA992/KA</TaxStr>
</Fare>
<OP>
<Operator>cmldy</Operator>
<UserCMD></UserCMD >
<AirCo>KA</AirCo>
<PNRUser>abc;1234</PNRUser>
</OP>
</OTA_PNRRequest>
