{% extends "base.html" %}

{% block title %}
    机票列表
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <ul>
        {% for plane in planes %}
            <li class="list-unstyled" style="margin-bottom: 10px;">
                <div class="plane container">
                    <div class="row">
                        <div class="col-xs-3">{{ plane.format_departure }}</div>
                        <div class="col-xs-4">{{ plane.starting }}</div>
                        <div class="col-xs-5">￥{{ plane.price }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">{{ plane.format_arrival }}</div>
                        <div class="col-xs-4">{{ plane.destination }}</div>
                        <div class="col-xs-5">还剩{{ plane.seat }}张</div>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}