{% extends "base.html" %}

{% block title %}
    航班搜索
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <ul>
        {% for plane in planes %}
            <li class="list-unstyled" style="margin-bottom: 10px;">
                <div class="plane container">
                    <div class="row">
                        <div class="col-xs-6">{{ plane.format_departure }}-{{ plane.format_arrival }}</div>
                        <div class="col-xs-6">{{ plane.starting }}-{{ plane.destination }}</div>
                        <div class="col-xs-4">{{ plane.price }}</div>
                        <div class="col-xs-4">{{ plane.type }}</div>
                        <div class="col-xs-4">还剩{{ plane.seat }}张</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}