{% extends "base.html" %}
{% block link %}
    <script type="text/javascript" src="/static/js/angular-1.2.6/angular.min.js"></script>
    <script>
        function FormController($scope){
            $scope.status = 1;
        }
    </script>
    <script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
});
    </script>
{% endblock %}

{% block title %}
    航班搜索
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
{% verbatim %}
    <img src="http://www.hawaiianairlines.com.cn/App_Themes/hawaiianair.cn_dev/img/aboutus/AboutUs-Header.jpg" alt="" class="img-responsive" style="margin-bottom: 10px;"/>
    <form class="form-horizontal" role="form" action="/products/" method="get" ng-app
            ng-controller="FormController" id="form-controller">
        <div class="form-group row">
            <div class="col-xs-2">

            </div>
             <div class="col-xs-1">
                <input type="radio" ng-model="status" value="0"/>
            </div>
            <label for="status" class="col-xs-3 control-label">单程</span>
            </label>
            <div class="col-xs-1">
                <input type="radio" ng-model="status" value="1"/>
            </div>
            <label for="status" class="col-xs-3 control-label"><span>往返</span>
            </label>
        </div>
        <div class="form-group">
            <label for="starting" class="col-xs-4 control-label"><span><i class="icon-plane"> 出发城市</i></span></label>
            <div class="col-xs-8">
                <select class="form-control" name="starting" id="staring">
                    <option value="BJS">北京</option>
                    <option value="SHA">上海</option>
                    <option value="CAN">广州</option>
                    <option value="SZX">深圳</option>
                    <option value="TNA">济南</option>
                    <option value="TSN">天津</option>
                    <option value="DLC">大连</option>
                    <option value="SHE">沈阳</option>
                    <option value="CTU">成都</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="destination" class="col-xs-4 control-label"><span><i class="icon-fighter-jet"> 到达城市</i></span>
            </label>
            <div class="col-xs-8">
                <select class="form-control" name="destination" id="destination">
                    <option value="HNL">夏威夷</option>
                    <option value="HKG">香港</option>
                    <option value="BKK">曼谷</option>
                    <option value="PAR">巴黎</option>
                    <option value="LAX">洛杉矶</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="departure" class="col-xs-4 control-label"><span><i class="icon-calendar"> 出发日期</i></span>
            </label>
            <div class="col-xs-8">
                <input type="date" class="form-control" id="departure" name="departure" placeholder="请选择出发时间">
            </div>
        </div>
        <div class="form-group" ng-show="status">
            <label for="back_time" class="col-xs-4 control-label"><span><i class="icon-calendar"> 返回日期</i></span>
            </label>
            <div class="col-xs-8">
                <input type="date" class="form-control" id="back_time" name="back_time" placeholder="请选择出发时间">
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="col-xs-4 control-label"><span><i class="icon-user-md"> 人数</i></span>
            </label>
            <div class="col-xs-8">
                <input type="number" class="form-control" id="amount" name="amount" placeholder="1">
            </div>
        </div>
        <div class="form-group">
            <label for="seat_type" class="col-xs-4 control-label"><span><i class="icon-suitcase"> 舱位</i></span>
            </label>
            <div class="col-xs-8">
                <select class="form-control" name="seat_type" id="seat_type">
                    <option value="Y">经济舱</option>
                    <option value="C">商务舱</option>
                    <option value="F">头等舱</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12" style="margin-top: 10px;">
                <button type="submit" class="btn btn-primary btn-lg btn-block">查询</button>
            </div>
        </div>
    </form>
{% endverbatim %}
{% endblock %}